<h1>AQboutUS</h1>
<p>It is located in the heart of the city , International Financials Services Centre
    It provides a range of medical services with proffessional and relaxed environment</p>



<p><h3>Opening Hours:</h3></p>
<p>Monday to Friday: 9:00a.m - 7:00p.m </p>
<p>Saturday:11:00a.m - 5:00 p.m</p>


<p>It is remains closed on Sundays and Bank Holidays.</p>


<h3>Access</h3>

<p> Car Parking is available on streets.</p>
<p> Luas: Lower Mayor Square stop </p>
<p>Dart: Connolly Station and walk around 200 meters</p>
<p>BUS: All city buse service</p>
